<div class="navbar navbar-light" style="background-color: #55BCC9;" role="navigation"
    style="margin-bottom:0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a style="color:aliceblue" class="navbar-brand" href="{% url 'index' %}"><b>Fits Gallery</b></a>
            <a style="color:aliceblue" class="navbar-brand" href="{% url 'index' %}">Home</a>
            <a style="color:aliceblue" class="navbar-brand" href="{% url 'search_location' %}">Search by location</a>
            <a style="color:aliceblue" class="navbar-brand" href="{% url 'search_results' %}">Search by Category</a>
           
        </div> 
    </div>
</div>
<div>

</div>